@import './reset.css';

:root {
  font-family: sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card-wrapper {
  display: flex;
  border: 2px solid lightgray;
  margin: 2rem 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 320px;
}

.card-image-wrapper {
  position: relative;
  width: inherit;
  height: 320px;
}

.initials {
  font-size: 2rem;
  color: white;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center;
}

.card-name {
  max-width: 90%;
  margin: 1rem 5%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-description {
  padding: 0 5px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;

}

.card-name:empty::after,
.job-position:empty::after,
.card-description:empty::after,
.initials:empty::after {
  content: "Unknown";
}

.job-position {
  margin: 0 5% 1rem;
  font-size: 0.8rem;
  color: red;
  text-transform: uppercase;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: inherit;
}

.social-wrapper {
  margin: 0.5rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 4px;
}

.social-icon {
  font-size: 32px;
}

.social-wrapper:hover,
.social-wrapper:focus {
  background-color: #e84545;
}
.social-wrapper:hover > .icon-youtube,
.social-wrapper:focus > .icon-youtube {
  color: white;
}

.icon-facebook{
  color: blue;
}

.icon-twitter{
  color: dodgerblue;
}

.icon-youtube {
  color: crimson;
}

.icon-instagram{
  background: -webkit-linear-gradient(62deg, rgb(255, 253, 118) 0%, rgb(255, 120, 120) 50%, rgb(206, 128, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
